include ../mixins/_helper
include ../mixins/_index
include _config
head
  title=app.name
  link(rel='stylesheet', href=paths.css + 'vendor/bootstrap.css')
  link(rel='stylesheet', href=paths.css + 'app.css')